
.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

}
//
//.todoapp input::-webkit-input-placeholder {
//  font-style: italic;
//  font-weight: 300;
//  color: #e6e6e6;
//}
//
//.todoapp input::-moz-placeholder {
//  font-style: italic;
//  font-weight: 300;
//  color: #e6e6e6;
//}
//
//.todoapp input::input-placeholder {
//  font-style: italic;
//  font-weight: 300;
//  color: #e6e6e6;
//}
//
//.title {
//  position: absolute;
//  top: -155px;
//  width: 100%;
//  font-size: 100px;
//  font-weight: 100;
//  text-align: center;
//  color: rgba(175, 47, 47, 0.15);
//  -webkit-text-rendering: optimizeLegibility;
//  -moz-text-rendering: optimizeLegibility;
//  text-rendering: optimizeLegibility;
//}
//
//body {
//  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
//  line-height: 1.4em;
//  background: #f5f5f5;
//  color: #4d4d4d;
//  min-width: 230px;
//  max-width: 550px;
//  margin: 0 auto;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  font-weight: 300;
//}
//
//input {
//  -webkit-writing-mode: horizontal-tb !important;
//  text-rendering: auto;
//  letter-spacing: normal;
//  word-spacing: normal;
//  text-transform: none;
//  text-indent: 0px;
//  text-shadow: none;
//  display: inline-block;
//  text-align: start;
//  -webkit-appearance: textfield;
//  -webkit-rtl-ordering: logical;
//  cursor: text;
//  font: 400 13.3333px Arial;
//}
//
//.new-todo {
//  background-attachment:scroll;
//  background-clip:border-box;
//  background-color:rgba(0, 0, 0, 0.004);
//  background-image:none;
//  background-origin:padding-box;
//  background-position-x:0%;
//  background-position-y:0%;
//  background-size:auto;
//  border-bottom-color:rgb(77, 77, 77);
//  border-bottom-style:none;
//  border-bottom-width:0px;
//  border-image-outset:0;
//  border-image-repeat:stretch;
//  border-image-slice:100%;
//  border-image-source:none;
//  border-image-width:1;
//  border-left-color:rgb(77, 77, 77);
//  border-left-style:none;
//  border-left-width:0px;
//  border-right-color:rgb(77, 77, 77);
//  border-right-style:none;
//  border-right-width:0px;
//  border-top-color:rgb(77, 77, 77);
//  border-top-style:none;
//  border-top-width:0px;
//  box-shadow:rgba(0, 0, 0, 0.03) 0px -2px 1px 0px inset;
//  box-sizing:border-box;
//  color:rgb(77, 77, 77);
//  cursor:text;
//  display:inline-block;
//  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
//  font-size:24px;
//  font-stretch:100%;
//  font-style:normal;
//  font-variant-caps:normal;
//  font-variant-east-asian:normal;
//  font-variant-ligatures:normal;
//  font-variant-numeric:normal;
//  font-weight:300;
//  height:65px;
//  letter-spacing:normal;
//  line-height:33.6px;
//  margin-bottom:0px;
//  margin-left:0px;
//  margin-right:0px;
//  margin-top:0px;
//  padding-bottom:16px;
//  padding-left:60px;
//  padding-right:16px;
//  padding-top:16px;
//  position:relative;
//  text-align:start;
//  text-indent:0px;
//  text-rendering:auto;
//  text-shadow:none;
//  text-transform:none;
//  width:550px;
//  word-spacing:0px;
//  writing-mode:horizontal-tb;
//  -webkit-appearance:none;
//  -webkit-font-smoothing:antialiased;
//  -webkit-rtl-ordering:logical;
//  -webkit-border-image:none;
//}
//
///*.new-todo, .edit {
//  position: relative;
//  margin: 0;
//  width: 100%;
//  font-size: 24px;
//  font-family: inherit;
//  font-weight: inherit;
//  line-height: 1.4em;
//  color: inherit;
//  box-sizing: border-box;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}*/
//
//.todo-list {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//
//ul {
//  display: block;
//  list-style-type: disc;
//  margin-block-start: 1em;
//  margin-block-end: 1em;
//  margin-inline-start: 0px;
//  margin-inline-end: 0px;
//  padding-inline-start: 40px;
//}
//
//
//
//
//
//
